html{

	background-color: black;
	width: 100%;
	min-width: 360px;
	font-family: verdana;
	text-align: center;
}


header{
	width: 100%;
	text-align: center;
}


h1 { 
	font-weight: normal;
	font-size: 50px;
	color: white;
	
 }

 h2{
 	font-weight: 300;
 	font-size: 42px;
 	color: white;
 }

h3{ 
	font-size: 21px;
	color: gray;

 }
 button {
 	color: aquamarine;
 	font-size: 16px;
 	position: center;
 	text-align: center;
 	background-color: black;
 	border: none;
 }

 .camp{
 	display: inline-block;
 	position: center;
 }

 .phone{
 	display: inline-block;
 	position: center;
 }

 footer{
 	text-align: right;
 }



 h4{
 	color: gray;
 }

